@page "/"
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>ProjektAnalyse Online</title>
        <base href="~/" />
        <link href="client.styles.css" rel="stylesheet" />
        <link href="/dist/output.css" rel="stylesheet" />
        <link href="/css/app.css" rel="stylesheet" />
    </head>
    <body class="h-full">

        <component type="typeof(Client.App)" render-mode="WebAssembly" />

        <script src="_content/Blazored.Modal/blazored.modal.js"></script>
        <script src="_framework/blazor.webassembly.js"></script>

    </body>
</html>
