@page "/"
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>ProjektAnalyse Online</title>
        <base href="~/" />
        <link rel="icon" href="data:image/svg+xml,">
        <link href="Client.styles.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <component type="typeof(WebWasmClient.App)" render-mode="WebAssembly" />
        </div>
        <script src="_framework/blazor.webassembly.js"></script>
    </body>
</html>
